.myButton{
    margin-right: 5px;
    margin-top: 5px;
}
.combo{
    width: 300px;
}
.slds-button{
    margin-top: 10px;
}
.myCard{
    min-width: 500px;
    margin-left: 30px;
}
.marginButtons{
    margin-left: 0.75rem;
}
